@import "tailwindcss";

@config '../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::view-transition-group(root) {
  animation-duration: 50s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-lightBlue: #0879e7;
  --color-darkBlue: #0c1c32;
  --color-titleBg: #151517;
  --color-titleBgWhite: #101012;
  --color-custom-gray: #363636;
}
